/*
    Legend:
    || Explanation on how this works
    !!! Property below needs to be adjusted/refined !!!

    Code References:
    Inline nav and header logo: https://www.youtube.com/watch?v=_qTG88IuTIc

*/
/*===========================*/


/*===== HEADER SECTION =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  html {
    font-family: "Poppins", serif;
  }

  body { 
    margin: 0;
    padding-top: 60px;
  }
  
  .header {  
    overflow: hidden;
    position: fixed; /*|| OG sticky isn't supported on GitHub*/
    top: 0;
    z-index: 100 /*||Ensures header stays above the content*/
    padding: 15px 10px;
    background-color: #0457c6;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .header a {
    float: left;
    color: #f2f8fc;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #003782;
  }
  
  .header a.active {
  background-color: #e66731;
  color: white;
  }

  .header-right {
    float: right;
  }
  

  a.web_title {
    text-align: left;
    font-size: 22px;
  }

  .smol_cielo {
  float: left;
  height: 70px;
  width: 70px;
  margin: 10px;
  padding: 5px;
  vertical-align: middle;
}

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      margin: 0;
      padding: 20px 10px;
      text-align: left;
    }

    .header-right {
      float: none;
    }
  }

/*===== HEADER: Logo Image =====*/
.smol_cielo {
  height: 70px;
  width: 70px;
  margin: 10px;
  padding: 5px;
  vertical-align: middle;
}
body {
  margin: 0;
  padding: 0;
  color: black;
  line-height: 1.6;
}

/*===== The big CIELO logo in the main page =====*/
.bodylogo {  
  height: 450px; 
  margin-left: auto;
  margin-right:auto;
  display: block;
}
.body_section {
  flex: 1 1 calc(33.333% - 1rem);
  background: #003782;
  background-image: linear-gradient(to right, #003782, #012a62);
  margin:10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*===== HOME: What is CIELO? =====*/
 /*shows more about CIELO once clicked*/
 button {
  background-color: #e66731;
  border-radius: 5px;
  font-size:23px;
  color: white;
  border:#e66731;
  height: 40px;
  width: 155px;
  font-weight: bold;
}

.active, .button:hover {
  background-color: #cb5d2e;
}

/*===== HOME: Button text =====*/
a.button {
  color: white;
  text-decoration: solid;
}

/*===== GALLERY: Pic Divs =====*/
.picsalign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.picsalign img {
	width: 500px;
	height: 300px;
  margin: 4px 7px 7px 0px;
	border: 2px solid #003782;
	border-radius: 13px;
	box-shadow: 4px 7px 7px 0px #00000042;
	cursor: pointer;
	margin: 10px
}

/* ||Slightly scales the image when picture is hovered over with mouse*/
.picsalign img:hover {
	transform: scale(1.03);
}

/*===== GALLERY: Texts =====*/
p.gallery {
  text-align: justify;
}

/*===== ABOUT: Our Programs Section =====*/
/*to be added*/

/*===== ADVOCACIES: Section =====*/
.center {
  height: 400px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.advcard {
  flex: 1 1 calc(33.333% - 1rem);
  background: #0457c6;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*===== ADVOCACIES: Images =====*/
.adv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.adv img {
	width: 400px;
	height: 490px;
  margin: 4px 7px 7px 0px;
	border: 5px solid white;
	border-radius: 13px;
	box-shadow: 4px 7px 7px 0px #00000042;
	cursor: pointer;
	margin: 10px
}

/* ||Slightly scales the image when picture is hovered over with mouse*/
.adv img:hover {
	transform: scale(1.03);
}

/*===== ADVOCACIES: Text Styles =====*/
h2.adv {
  font-family: "Poppins", serif;
  color:#f2f8fc;
  text-align: center;
}
p.adv {
  font-family: "Poppins", serif;
  text-align: justify;
  padding: 1rem 0;
  color:white;
  text-align: center;
}

/*===== FOOTER DIVISIONS =====*/
.footer_deco {
  display: flex;
  justify-content: space-around;
  background: #0457c6;
  color: #f2f8fc;
  text-align: left;
  padding: 10px 10px;
  margin-top: 2rem;
}
.main_footer {
  background: white;
  margin: 5px 10px;
  padding: 20px 10px;
}

/*===== FOOTER: Text =====*/
footer p {
  margin-left: 10px;
  padding: 1rem 0;
 }
h2.contact_info {
  color:#f2f8fc;
  margin: auto;
  margin-left: 15px;
}
p.contact {
  margin: 5px 10px 5px 20px;
  text-decoration: none;
  color: black;
  font-size: 17px;
}
p.contact:hover {
  text-decoration: none;
}
p.prototype {
  margin: auto;
  margin-left: 15px;
  color: #f2f8fc;
}
p.updated {
  float: right;
}

/*===== FOOTER: Images =====*/
/* !!! */
.fb_logo {
  float: right;
  height: 70px;
  width: 70px;
  margin: 10px;
  border-radius: 13px;
  padding: 1px;
  box-shadow: 4px 7px 7px 0px #00000042;
	cursor: pointer;
}
.fblogo img:hover {
	transform: scale(1.03);
}
.taytunglogo {
  height: 70px; 
  width: 70px; 
  margin: 10px; 
  padding: 5px; 
  vertical-align: middle;
}

/*===== WEBSITE: Divisions =====*/
/* !!! */
.display {
  display: hidden;
}
.page {
  flex: 1 1 calc(33.333% - 1rem);
  background-color: #0457c6;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.card {
  flex: 1 1 calc(33.333% - 1rem);
  background: #e7e3e3;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.inner_card {
  flex: 1 1 calc(33.333% - 1rem);
  background: #b5d9ff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 4%;
}
h1.head_text {
  font-family: "Poppins", serif;
  padding: 1rem 0;
  margin: 5px 10px 5px 20px;
  font-weight: bold;
}

/*===== WEBSITE: Text Styles in General =====*/
h1 {
  font-family: "Poppins", serif;
  padding: 1rem 0;
  border: 10px;
  margin: 10px;
}
h2 {
  font-family: "Poppins", serif;
  font-size: 22px;
  padding: 1rem 0;
  margin: 10px;
  margin-left: 20px;
}
h2.head_text {
  font-family: "Poppins", serif;
  font-size: 22px;
  padding: 1rem 0;
  margin: 10px;
  margin-left: 20px;
  color: #f2f8fc;
}
h3 {
  font-family: "Poppins", serif;
  padding: 1rem 0;
  margin: 10px;
}
p {
  font-family: "Poppins", serif;
  padding: 0.5rem 0;
  margin: 10px;
}



