/*HEADER SECTION*/
header {
  background: #004aad;
  color: black;
  padding: 1rem 0;
  text-align: left;
  line-height: 30px;
}

header h1 {
  margin: 0;
  padding: 1rem 0;
  font-size: 2.5rem;
}

.web_title {
  display: inline; 
  margin-left: 10px;
}

nav {
  background: #004aad;
  font-family: "Poppins", serif;
  text-align: center;
  padding: 0.5rem 0;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", serif;
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: solid;
  color: white;
}
/*HEADER: Logo Image*/
.smol_cielo {
  height: 70px;
  width: 70px;
  margin: 10px;
  padding: 5px;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  line-height: 1.6;
}

/*The big CIELO logo in the main page*/
.bodylogo {  
  height: 40; 
  width: auto;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

/*HOME: What is CIELO?*/
button {
  background-color: #e66731;
  border-radius: 5px;
  font-size:23px;
  color: white;
  border:#e66731;
  height: 40px;
  width: 155px;
  font-weight: bold;
}
/*HOME: Button text*/
a.button {
  color: white;
  width: auto;
  text-decoration: solid;
}

/*GALLERY: Images*/
.img1 {
  display: inline;
  height: 200px; 
  width: auto;
}

.img2 {
  display: inline;
  height: 200px; 
  width: auto;
}

.img3 {
  display: inline;
  height: 200px; 
  width: auto;
}

.img4 {
  display: inline;
  height: 200px; 
  width: auto;
}

.img5 {
  display: inline;
  height: 200px; 
  width: auto;
}

.img6 {
  display: inline;
  height: 200px; 
  width: auto;
}
/*GALLERY: Texts*/
p.gallery {
  text-align: justify;
}

table {
  width: 100%;
}

/*ABOUT: Our Programs Section*/
.page {
  flex: 1 1 calc(33.333% - 1rem);
  background-color: #004aad;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.taytunglogo {
  height: 50px; 
  width: 92;
  vertical-align: middle;
}

/*ADVOCACIES: Section*/
.center {
  height: 400px;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.donatecard {
  flex: 1 1 calc(33.333% - 1rem);
  background: #004aad;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*DONATION: Text Styles*/
h2.donate {
  font-family: "Poppins", serif;
  color:white;
  text-align: center;
}

p.donate {
  font-family: "Poppins", serif;
  padding: 1rem 0;
  color:white;
  text-align: center;
}

/*FOOTER*/
footer {
  background: #004aad;
  color: black;
  text-align: left;
  padding: 1rem 0;
  margin-top: 2rem;
}

footer p {
 margin-left: 10px;
 padding: 1rem 0;
}
/*FOOTER: Text*/
h2.contact {
  margin: 5px 10px 5px 20px;
}
p.contact {
  margin: 5px 10px 5px 20px;
}
p.prototype {
  margin: 5px 10px 5px 20px;
}

/*Website Styles like cards, dividers, etc.*/
.card {
  flex: 1 1 calc(33.333% - 1rem);
  background: #e7e3e3;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards {
  flex: 1 1 calc(33.333% - 1rem);
  background: #b5d9ff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 4%;
}

.body_section {
  flex: 1 1 calc(33.333% - 1rem);
  background: #003782;
  margin:10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1.head_text {
  font-family: "Poppins", serif;
  padding: 1rem 0;
  margin: 5px 10px 5px 20px;
  font-weight: bold;
}

/*WEBSITE: Text Styles in General*/
h1 {
  font-family: "Poppins", serif;
  padding: 1rem 0;
  border: 10px;
  margin: 10px;
}

h2 {
  font-family: "Poppins", serif;
  font-size: 22px;
  padding: 1rem 0;
  margin: 10px;
  margin-left: 20px;
}

h3 {
  font-family: "Poppins", serif;
  padding: 1rem 0;
  margin: 10px;
}

p {
  font-family: "Poppins", serif;
  padding: 0.5rem 0;
  margin: 10px;
}
